#board {
    padding: 3em;
    text-align: center;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row > div:hover {
    cursor: pointer;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom: 1px rgb(108, 33, 151) solid;
}

.bottom {
    border-top: 1px rgb(108, 33, 151) solid;   
}

.left {
    border-right: 1px rgb(108, 33, 151) solid;
}

.right {
    border-left: 1px rgb(108, 33, 151) solid;
}